# Samvadam
PORT=8000
ENV_TYPE=development
LOG_LEVEL=info
DOCS_USERNAME=admin
DOCS_PASSWORD=admin
SAMVADAM_PUBLIC_URL=

# Elevenlabs
ELEVENLABS_API_KEY=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
